[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=ChronosTest
Exec=/opt/usr/bin/ez430n900test
Icon=chronos_icon
Comment=Hello
X-Osso-Type=application/x-executable